@model IEnumerable<StockWatchClient.Models.StockViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("CandlestickAndVolume", "CandlestickAndVolume", new { symbol = item.Symbol }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.StockId }) |
                @Html.ActionLink("Details", "Details", new { id = item.StockId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StockId }, new { onClick = "return confirm('Are you sure want to Delete?')" })
            </td>
        </tr>
}
    </tbody>
</table>
